
body {
  margin-left: 100px;
  
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa; /* Light background for better contrast */
}

.DataTable {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

.DataTable th,
.DataTable td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.DataTable th {
  background-color: #4CAF50;
  color: white;
}

.DataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.DataTable tr:hover {
  background-color: #ddd;
}